<h3>Tables sample2</h3>
<p>This is where I will have my second page of Tables constructed using Bootstrap</p>

<h4>Table with hover rows </h4>
<p>(This doesn't work for me, but then it doesn't work on the W3Schools sample page either)</p>
<div class="container">
  <table class="table table-hover">
    <thead class=>
      <tr>
	<th>Lens</th>
	<th>Focal Length</th>
	<th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Nikon kit</td>
	<td>28-85</td>
	<td>Expensive</td>
      </tr>
      <tr>
	<td>Nikon zoom</td>
	<td>70-300</td>
	<td>More expensive</td>
      </tr>
      <tr>
        <td>Nikon wide-angle</td>
        <td>16</td>
        <td>unknown</td>
      </tr>
    </tbody>
  </table>
</div>

<h4>Table with condensed rows</h4>
<div class="container">
  <table class="table table-condensed">
    <thead class=>
      <tr>
	<th>Lens</th>
	<th>Focal Length</th>
	<th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Nikon kit</td>
	<td>28-85</td>
	<td>Expensive</td>
      </tr>
      <tr>
	<td>Nikon zoom</td>
	<td>70-300</td>
	<td>More expensive</td>
      </tr>
      <tr>
        <td>Nikon wide-angle</td>
        <td>16</td>
        <td>unknown</td>
      </tr>
    </tbody>
  </table>
</div>

<h4>Table with Contextual Classes</h4>
<div class="container">
  <table class="table table-condensed">
    <thead class=>
      <tr>
	<th>Lens</th>
	<th>Focal Length</th>
	<th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Nikon kit</td>
	<td>28-85</td>
	<td>Expensive</td>
      </tr>
      <tr class="success">
	<td>Nikon zoom</td>
	<td>70-300</td>
	<td>More expensive</td>
      </tr>
      <tr class="warning">
        <td>Nikon wide-angle</td>
        <td>16</td>
        <td>unknown</td>
      </tr>
    </tbody>
  </table>
</div>