<h3>Tables sample1</h3>
<p>This is where I will have my first page of Tables constructed using Bootstrap</p>

<h4>Default table</h4>
<div class="container">
  <table class="table">
    <thead>
      <tr>
	<th>Lens</th>
	<th>Focal Length</th>
	<th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Nikon kit</td>
	<td>28-85</td>
	<td>Expensive</td>
      </tr>
      <tr>
	<td>Nikon zoom</td>
	<td>70-300</td>
	<td>More expensive</td>
      </tr>
      <tr>
        <td>Nikon wide-angle></td>
        <td>16</td>
        <td>unknown</td>
      </tr>
    </tbody>
  </table>
</div>

<h4>Table with striped rows</h4>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Lens</th>
	<th>Focal Length</th>
	<th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Nikon kit</td>
	<td>28-85</td>
	<td>Expensive</td>
      </tr>
      <tr>
	<td>Nikon zoom</td>
	<td>70-300</td>
	<td>More expensive</td>
      </tr>
      <tr>
        <td>Nikon wide-angle></td>
        <td>16</td>
        <td>unknown</td>
      </tr>
    </tbody>
  </table>
</div>

<h4>Table with a border</h4>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Lens</th>
	<th>Focal Length</th>
	<th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Nikon kit</td>
	<td>28-85</td>
	<td>Expensive</td>
      </tr>
      <tr>
	<td>Nikon zoom</td>
	<td>70-300</td>
	<td>More expensive</td>
      </tr>
      <tr>
        <td>Nikon wide-angle></td>
        <td>16</td>
        <td>unknown</td>
      </tr>
    </tbody>
  </table>
</div>