<h3>Dropdowns sample1</h3>
<p>This is where I will have my first page of Dropdowns constructed using Bootstrap</p>

<div class="container">
  <h4>Dropdowns</h4>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Brands
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Fuji</a></li>
      <li><a href="#">Olympus</a></li>
      <li><a href="#">Nikon</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <h2>Dropdowns</h2>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Components
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Olympus</li>
      <li><a href="#">Olympus E-410 body</a></li>
      <li><a href="#">14-42 mm lens</a></li>
      <li><a href="#">40-150 mm lens</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Nikon</li>
      <li><a href="#">D5200 body</a></li>
      <li><a href="#">18-55mm lens</a></li>
      <li><a href="#">70-300mm lens</a></li>
    </ul>
  </div>
</div>